In [130]:
len(pd.read_csv('./cleaned_bbd.csv'))

1544

In [18]:
# Code Borrowed from UC Berkeley's Data 8 lab/homework modules for simplicity
# http://data8.org/
import numpy as np
!pip install datascience
from datascience import *

import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import warnings
warnings.simplefilter('ignore', FutureWarning)
from matplotlib import patches

Collecting datascience
Collecting coverage==3.7.1 (from datascience)
Requirement already satisfied: sphinx in c:\users\keiko\anaconda3\lib\site-packages (from datascience) (1.7.4)
Collecting folium==0.2.1 (from datascience)
Requirement already satisfied: pytest in c:\users\keiko\anaconda3\lib\site-packages (from datascience) (3.5.1)
Collecting coveralls==0.5 (from datascience)
Requirement already satisfied: setuptools in c:\users\keiko\anaconda3\lib\site-packages (from datascience) (39.1.0)
Requirement already satisfied: six>=1.5 in c:\users\keiko\anaconda3\lib\site-packages (from sphinx->datascience) (1.11.0)
Requirement already satisfied: Jinja2>=2.3 in c:\users\keiko\anaconda3\lib\site-packages (from sphinx->datascience) (2.10)
Requirement already satisfied: Pygments>=2.0 in c:\users\keiko\anaconda3\lib\site-packages (from sphinx->datascience) (2.2.0)
Requirement already satisfied: docutils>=0.11 in c:\users\keiko\anaconda3\lib\site-packages (from sphinx->datascience) (0.14)
Requirement already satisfied: snowballstemmer>=1.1 in c:\users\keiko\anaconda3\lib\site-packages (from sphinx->datascience) (1.2.1)
Requirement already satisfied: babel!=2.0,>=1.3 in c:\users\keiko\anaconda3\lib\site-packages (from sphinx->datascience) (2.5.3)
Requirement already satisfied: alabaster<0.8,>=0.7 in c:\users\keiko\anaconda3\lib\site-packages (from sphinx->datascience) (0.7.10)
Requirement already satisfied: imagesize in c:\users\keiko\anaconda3\lib\site-packages (from sphinx->datascience) (1.0.0)
Requirement already satisfied: requests>=2.0.0 in c:\users\keiko\anaconda3\lib\site-packages (from sphinx->datascience) (2.18.4)
Requirement already satisfied: packaging in c:\users\keiko\anaconda3\lib\site-packages (from sphinx->datascience) (17.1)
Requirement already satisfied: sphinxcontrib-websupport in c:\users\keiko\anaconda3\lib\site-packages (from sphinx->datascience) (1.0.1)
Requirement already satisfied: colorama>=0.3.5 in c:\users\keiko\anaconda3\lib\site-packages (from sphinx->datascience) (0.3.9)
Requirement already satisfied: py>=1.5.0 in c:\users\keiko\anaconda3\lib\site-packages (from pytest->datascience) (1.5.3)
Requirement already satisfied: attrs>=17.4.0 in c:\users\keiko\anaconda3\lib\site-packages (from pytest->datascience) (18.1.0)
Requirement already satisfied: more-itertools>=4.0.0 in c:\users\keiko\anaconda3\lib\site-packages (from pytest->datascience) (4.1.0)
Requirement already satisfied: pluggy<0.7,>=0.5 in c:\users\keiko\anaconda3\lib\site-packages (from pytest->datascience) (0.6.0)
Requirement already satisfied: PyYAML>=3.10 in c:\users\keiko\anaconda3\lib\site-packages (from coveralls==0.5->datascience) (3.12)
Collecting docopt>=0.6.1 (from coveralls==0.5->datascience)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\keiko\anaconda3\lib\site-packages (from Jinja2>=2.3->sphinx->datascience) (1.0)
Requirement already satisfied: pytz>=0a in c:\users\keiko\anaconda3\lib\site-packages (from babel!=2.0,>=1.3->sphinx->datascience) (2018.4)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\keiko\anaconda3\lib\site-packages (from requests>=2.0.0->sphinx->datascience) (3.0.4)
Requirement already satisfied: idna<2.7,>=2.5 in c:\users\keiko\anaconda3\lib\site-packages (from requests>=2.0.0->sphinx->datascience) (2.6)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in c:\users\keiko\anaconda3\lib\site-packages (from requests>=2.0.0->sphinx->datascience) (1.22)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\keiko\anaconda3\lib\site-packages (from requests>=2.0.0->sphinx->datascience) (2018.4.16)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\keiko\anaconda3\lib\site-packages (from packaging->sphinx->datascience) (2.2.0)
Installing collected packages: coverage, folium, docopt, coveralls, datascience
  Found existing installation: folium 0.6.0
    Uninstalling folium-0.6.0:
      Successfully uninstalled folium-0.6.0
Successfully installed coverage-3.7.1 coveralls-0.5 datascience-0.10.6 docopt-0.6.2 folium-0.2.1

distributed 1.21.8 requires msgpack, which is not installed.
You are using pip version 10.0.1, however version 18.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [19]:
beige_books = Table.read_table('beige_books.csv')
print("Pre-cleaning length: " + str(beige_books.num_rows))
beige_books

Pre-cleaning length: 1546

ID    | Date      | District | Sector Heading                | Sector Text
15822 | 1-18-2017 | Atlanta  | Summary of Economic Activity  | Sixth District business contacts indicated that economic ...
15823 | 1-18-2017 | Atlanta  | Employment and Wages          | Contacts reported continued tightening in the labor mark ...
15824 | 1-18-2017 | Atlanta  | Prices                        | Contacts reported little change in input costs and price ...
15825 | 1-18-2017 | Atlanta  | Consumer Spending and Tourism | Most District retail contacts reported that sales levels ...
15826 | 1-18-2017 | Atlanta  | Construction and Real Estate  | Overall, reports from District residential real estate c ...
15827 | 1-18-2017 | Atlanta  | Manufacturing                 | Manufacturing contacts reported that overall business ac ...
15828 | 1-18-2017 | Atlanta  | Transportation                | District transportation contacts reported mixed levels o ...
15829 | 1-18-2017 | Atlanta  | Banking and Finance           | Credit remained readily available for most qualified bor ...
15830 | 1-18-2017 | Atlanta  | Energy                        | Contacts continued to report weak demand and an over-sup ...
15831 | 1-18-2017 | Atlanta  | Agriculture                   | Agriculture conditions across the District were mixed. B ...
... (1536 rows omitted)

In [20]:
beige_books = beige_books.where('ID', lambda s: s.isdigit())
beige_books.show(3)

AttributeError: 'numpy.int32' object has no attribute 'isdigit'

# cleaning empty sector texts

In [42]:
beige.dropna(axis=0,subset=['Sector Text'])

1544

In [41]:
len(beige)

1546

In [43]:
beige = pd.read_csv('./beige_books.csv')
beige[beige['Sector Text'].isna()]['Date']

524    7-12-2017
856    1-17-2018
Name: Date, dtype: object

In [23]:
empty_rows = beige_books.where("Sector Text", "nan")
empty_rows.show(3)
# empty_row_ids = empty_rows.apply(lambda i: int(i), "ID")
# empty_row_ids

In [22]:
ids_of_interest = []
empty_row_id = []
for i in empty_row_ids:
    empty_row_id.append(i)
    if i not in ids_of_interest:
        ids_of_interest.append(i - 1)
        ids_of_interest.append(i)
        ids_of_interest.append(i + 1)
    
ids_not_of_interest = [20, 21, 22, 29, 30, 31, 92, 93, 94, 121, 122, 123, 135, 136, 137]
ids_not_of_interest.extend([216, 217, 218, 260, 586, 258, 259, 584, 585, 628, 629, 630])
ids_not_of_interest.extend([])

for ids in ids_not_of_interest:
    ids_of_interest.remove(ids)
    
ids_of_interest = np.array(sorted(list(set(ids_of_interest))))

ValueError: list.remove(x): x not in list

In [ ]:
rows_of_interests = beige_books.where("ID", lambda i: int(i) in ids_of_interest)
rows_of_interests.show(300)

In [ ]:
ids_to_drop = [21]
h_h = [(30, 31)]
h_sh = [(92, 93), (121, 122), (135, 136), (216, 217), (258, 259), (584, 585), (628, 629)]
h_sh.extend([])

In [ ]:
def merge_rows(id_1, id_2, table):
    new_row = []
    row_1 = table.where("ID", id_1).row(0)
    row_2 = table.where("ID", id_2).row(0)
    new_row.append(row_1[0], row_1[1], row_1[2], row_1[3])
    new_row.append(row_1[0] + row_2[4])

# Cleaning Strange Sector Headings

In [97]:
len(beige)

1546

In [ ]:
beige[beige['Sector Heading']]

In [88]:
beige[beige.apply(lambda s: len(s) < 5 and s != "Coal" and s != "Fuel", axis=1)]

Empty DataFrame
Columns: [ID, Date, District, Sector Heading, Sector Text]
Index: []

In [107]:
test_ids = beige.iloc[0:5,:]['ID']

In [106]:
len(beige[~beige['ID'].isin(test_ids)])

1541

In [99]:
len(beige[beige.apply(lambda s: len(s) >= 5, axis=1)])

1546

In [ ]:
strange_headings = beige_books.where("Sector Heading", lambda s: len(s) < 5 and s != "Coal" and s != "Fuel")
strange_headings.show(3)
strange_heading_ids = strange_headings.apply(lambda i: int(i), "ID")
strange_heading_ids

In [ ]:
strange_headings.show(300)
strange_heading_id = []
for i in strange_heading_ids:
    strange_heading_id.append(i)

In [ ]:
id_removal = strange_heading_ids[:50]
id_removal

In [ ]:
no_strange_headings_beige_books = False

# Cleaning Strange Dates

Ideas:
- use regex
- use datetime

In [46]:
x = 3
type(x)

int

In [117]:
beige['Date'] = pd.to_datetime(beige['Date'], errors='coerce')

In [120]:
type(beige['Date'].iloc[0])

pandas._libs.tslibs.timestamps.Timestamp

In [126]:
testing

           0
0        NaT
1 1999-12-12
2        NaT

In [127]:
testing = pd.to_datetime(pd.Series(['12-12-199d9', '12-12-1999','12-12-199d9']), errors = 'coerce').to_frame()
testing[testing.iloc[:,0].isna()]

    0
0 NaT
2 NaT

In [113]:
pd.to_datetime('12-12-199d9', errors = 'coerce')

pandas._libs.tslibs.nattype.NaTType

In [75]:
isNotDate('32-sd-2949')

False

In [72]:
def isNotDate(s):
    s = s.split("-")
    if len(s) != 3:
        return True
    if not s[0].isdigit():
        return True
    if not s[1].isdigit():
        return False
    if not s[2].isdigit():
        return True
    return False

# strange_dates = beige_books.where("Date", isNotDate)
# strange_dates.show(300)

# strange_date_id = []
# for i in strange_dates:
#     strange_date_id.append(i)

# Final Table

In [ ]:
bad_flags = empty_row_id + strange_date_id + strange_heading_id
final = beige_books.where("ID", lambda s: int(s) not in bad_flags)

In [ ]:
print("Post-cleaning length: " + str(final.num_rows))

In [ ]:
len(list(set(bad_flags)))

In [ ]:
final.to_csv("cleaned.csv")